{% load static %}

<link rel="stylesheet" href="{% static 'css/header.css' %}">

<div id="header-container">
    <div id="about">
        <img id="logo" src="{% static 'images/logo.png' %}" alt="School Logo" width="70px" height="100px" align="left" style="margin:10px 25px">
        <h1>UNIVERSITY OF PERPETUAL HELP SYSTEM GMA</h1>
        <p>San Gabriel, General Mariano Alvarez (GMA), Cavite</p>
        <p>Contact: (0909) 809 - 4200 / (046) 460 - 4086 • (02)</p>
        <p>email: guidance@gma.uphsl.edu.ph / marketing@gma.uphsl.edu.ph</p>
        <p>
            website: 
            <a href="http://www.uphsl.edu.ph">www.uphsl.edu.ph</a>
        </p>
    </div>

    <div id="navbar">
        <a id="home-btn" href="{% url 'index' %}">TASKER</a>
        <a href="{% url 'account_logout' %}">LOG OUT</a>
        <a href="{% url 'dashboard' %}">DASHBOARD</a>
    </div>
</div>