<header>
    <div class="perpetual">
        <div class="uni">
            <h1 style="text-align: center; margin-left: 20px;" ;>
                <strong>UNIVERSITY OF PERPETUAL HELP SYSTEM GMA</strong>
            </h1>
        </div>

        <p style="text-align: center; margin-left: 20px;">
            San Gabriel, General Mariano Alvarez (GMA), Cavite<br />
            Contact No. (0909) 809 - 4200 • (046) 460 - 4086 • (02)<br />
            email: guidance@gma.uphsl.edu.ph/ marketing@gma.uphsl.edu.ph<br />
            url: www.uphsl.edu.ph
        </p>
        <div id="branding">
            <h1>
                <span class="highlight">Web-based task manager: <i>Tasker</i></span>
            </h1>
        </div>

        <nav>
            <ul>
                <li class="current"><a href="{% url 'account_login' %}">Login</a></li>
                <li class="current2"><a href="{% url 'account_signup' %}">Register</a></li>
            </ul>
        </nav>
    </div>
</header>