{% extends "base.html" %}

{% load i18n %}
{% load account %}{% load static %}

{% block title %}Tasker | Password Reset{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock styles %}

{% block content %}

    {% include 'header.html' %}

    <div class="container card p-4 my-5 from-container">
        <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="alert alert-info">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-secondary text-dark rounded" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock %}
{% block scripts %}

  <script>
    // hide navbar
    $('#navbar').hide();

    /*
      added these bootstrap classes via jquery because it is not visible in 
      template only on final html output.
    */
    $('input[type="text"], input[type="password"], input[type="email"]').addClass('form-control');
    $('input[type="checkbox"]').addClass('form-check-label');
    $('label').addClass('form-label');
    $('.errorlist').addClass('alert alert-danger pl-1');
  </script>

{% endblock scripts %}