{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}Tasker | Change Password{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock styles %}

{% block content %}
    {% include 'header.html' %}
    <div class="container card p-4 my-5 form-container">
        <h1>{% trans "Change Password" %}</h1>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary rounded" type="submit" name="action">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
{% endblock %}
{% block scripts %}

  <script>
    // hide navbar
    {% comment %} $('#navbar').hide(); {% endcomment %}

    /*
      added these bootstrap classes via jquery because it is not visible in 
      template only on final html output.
    */
    $('input[type="text"], input[type="password"]').addClass('form-control');
    $('input[type="checkbox"]').addClass('form-check-label');
    $('label').addClass('form-label');
    $('.errorlist').addClass('alert alert-danger pl-1');
  </script>

{% endblock scripts %}