{% extends 'base.html' %}
{% load static %}



{% block title %}Task {{task}}{% endblock title %}



{% block styles %}

<link rel="stylesheet" href="{% static 'css/task.css' %}">

{% endblock styles %}



{% block content %}

{% include 'header.html' %}

<div class="cont">
    <form action="" method="POST"> 
        {% csrf_token %}

        <p style="color:red;">{{ error }}</p>

        <h4>
            Title: 
            <input 
                type="text" 
                placeholder="{{ task.name }}" 
                id="name" 
                name="name" 
                value="{{ task.name }}"
                {% if not is_admin %}
                    disabled
                {% endif %}
            >
        </h4>

        <p>Created on: {{ task.created_on }}</p>

        <label for="due">Due on:</label>
        <input 
            type="date" 
            name="due" 
            id="due"
            {% if not is_admin %}
                disabled
            {% endif %}
        >
        <br>

        <label for="desc">Description:</label>
        <textarea 
            type="text" 
            name="desc" 
            id="desc"
            {% if not is_admin %}
                disabled
            {% endif %}
        >
            {{ task.description }}
        </textarea>

        <p>Goals:</p>
        <div id="goals-container">
            {% comment %} goals here {% endcomment %}
            {% for goal in goals %}
                <div class="goal-container">

                    {% if goal.done %}
                        <input
                            type="checkbox" 
                            onchange="goalChanged('goal-{{ goal.id }}')"
                            checked
                        >
                        <input 
                            type="hidden" 
                            name="goal-{{ goal }}"
                            value="goal-True-{{ goal }}"
                            id="goal-{{ goal.id }}"
                            class="goal"
                        >
                    {% else %}
                        <input
                            type="checkbox" 
                            onchange="goalChanged('goal-{{ goal.id }}')"
                        >
                        <input 
                            type="hidden" 
                            name="goal-{{ goal }}"
                            value="goal-False-{{ goal }}"
                            id="goal-{{ goal.id }}"
                            class="goal"
                        >
                    {% endif %}

                    <label for="goal-{{ goal }}">
                        {{ goal }}
                    </label>

                    {% if is_admin %}
                        <a href="{% url 'delete_goal' goal.id %}">
                            <span>
                                {% include './delete_icon.html' %}
                            </span>
                        </a>
                    {% endif %}
                    
                </div>
            {% endfor %}
        </div>
        <input type="text" name="goal" id="goal" placeholder="add new goal..." form="add-goal-frm">
        <input type="button" value="Add goal" id="add-goal-btn">
        <br>

        <input type="button" value="Revert Changes" onClick="location.reload(true);">
        <input style="background-color:red; color: white;" type="submit" name="option" value="Delete task">
        <input type="submit" name="option" value="Save">
    </form>

    <hr/>

    <!-- Submitions for tasks -->
    {% include 'dashboard/submitions.html' %}

</div>

{% endblock content %}



{% block scripts %}

<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="{% static 'js/task.js' %}"></script>

{% endblock scripts %}